header {
  grid-area: header;
  position: relative;
  z-index: 10;
  height: 48px;
  width: 1440px;
  margin: auto;

  background: linear-gradient(
    269.92deg,
    rgba(0, 0, 0, 0) 0.07%,
    #0c0c0c 99.93%
  );
  #nav__black a:not(:first-child) {
    margin-left: 22px;
  }
  #nav__black {
    width: 519px;
    display: flex;
    justify-content: space-between;
    a {
      font-family: PT Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 21px;
      text-decoration-line: underline;
      color: #fff;
    }
    a:hover {
      color: #4541fe;
    }
  }
  .header__bar {
    position: absolute;
    width: 1136px;
    height: 31px;
    left: 152px;
    top: 8px;
  }
  .header__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    // overflow-x: scroll;
    width: 615px;
    height: 31px;
    left: 152px;
    top: 8px;
  }
  .header__item a {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    color: #fff;
    text-decoration: none;
  }

  .header__cart {
    position: absolute;
    right: 0;
    top: 6px;
    a {
      color: #ffffff;
    }
    a:hover {
      color: #4541fe;
    }
  }
  .cart__img svg {
    width: 18px;
    height: 16.6px;
    position: absolute;
    left: -25px;
    fill: #ffffff;
    top: 3px;
  }
}
.header__wraper {
  position: absolute;
}

.headerWhite {
  background: #fff;
  height: 56px;

  .header__barWhite {
    a {
      color: black;
    }
  }
  .header__item-white {
    color: black;
  }
  .cart__img-white svg {
    fill: black;
  }
}
@media (max-width: 1199px) and (min-width: 320px) {
  body {
    width: auto;
  }
  // header {
  //   width: 100%;
  // }

  header {
    width: 100%;
    margin: auto;
    background: black;

    #bar {
      width: 95vw;
      left: 15px;
    }
    #content {
      display: inline-block;
      width: auto;
    }
    #cart .cart__img svg {
      left: -30px;
      top: 3px;
    }
    #cart a {
      display: none;
    }

    #nav__black {
      padding-left: 21px;
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      mask-image: linear-gradient(
        90deg,
        transparent 0,
        rgba(0, 0, 0, 0.25) 9px,
        #000 18px,
        #000 calc(100% - 18px),
        rgba(0, 0, 0, 0.25) calc(100% - 9px),
        transparent
      );
      a {
        flex: 0 0 auto;
      }
    }
    #wrapper {
      max-width: 60vw;
      min-width: 100px;
      position: absolute;
      top: 7px;
      left: 65px;
    }
    .header__item {
      display: inline-block;
    }
  }
}
