.slick__wraper {
  grid-area: slick;
}

.slick {
  position: relative;
  width: 1440px;
  height: 600px;
  margin: auto;
  button {
    outline: none;
  }
}

.mainSlider {
  margin: auto;
  width: 100%;
  height: 100;
}
.mainSlider__list {
  position: relative;
  width: 100%;
  height: 100%;
}
.slick-arrow {
  background: none;
  border: none;
  position: absolute;
  z-index: 10;
  top: 48%;
}

.next {
  right: 16px;
  transform: rotate(180deg);
  :hover {
    cursor: pointer;
  }
  svg {
    fill: #ffffff;
  }
}

.prev {
  left: 16px;
  :hover {
    cursor: pointer;
  }
  svg {
    fill: #ffffff;
  }
}

.mainSlider__text {
  position: relative;
  font-weight: bold;
  font-size: 64px;
  line-height: 83px;
  text-decoration-line: underline;
  color: #ffffff;
  top: -237px;
  left: 152px;
  z-index: 10;
}
@media (max-width: 1199px) and (min-width: 320px) {
  .slick {
    width: 100%;
  }
  .mainSlider__text {
    display: none;
  }
}
