@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "./parts/header.scss";
@import "./parts/footer.scss";
@import "./parts/slider.scss";
@import "./parts/homePage.scss";
@import "./parts/catalog.scss";
@import "./parts/productCard.scss";
@import "./parts/aboutCard.scss";
@import "./parts/order.scss";
body {
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
}
a {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.slick-slide:focus {
  outline: none;
}
