<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="./styles/style.css")
    body
        include ./pug/headerWhite.pug
        article
            .aboutCard__content 
                .aboutCard__storeInfo
                    .aboutCard__storeInfo-title <h1>О магазине Фетч
                    .aboutCard__storeInfo-text 
                        p   В магазине Фетч представлено более 100 ведущих мировых производителей одежды и обуви. 
                        p   Разнообразие ассортимента обеспечивают товары культовых брендов современности: Barbour, Fred Perry, Norse Projects, Edwin и капсульные коллекции компаний, делающих ставку на эксклюзивность и премиальный статус своей продукции — Stone Island, Polo Ralph Lauren, C.P. Company. 
                        p   Приобрести последние можно лишь в нескольких торговых точках по всему миру, включая Фетч. 
                        p   Особый повод для гордости — обширная подборка редких и культовых кроссовок adidas Originals, Nike, New Balance, ASICS, Reebok и другие.
                        
                .aboutCard__data
                    .aboutCard__data__wrapper
                        .aboutCard__data-place Москва, Тимирязевская, 3
                        .aboutCara__data-connection
                            .footer__nav__email.about__email
                                a(href="#") shop@fetch.ru
                                .footer__nav__phone.about__phone
                                    .phone-title 8 800 912-11-42
                                    .phone-subtitle Звонок бесплатный
                        .aboutCard__data-info
                            p.
                            | ИНН/КПП: 2901152637 / 290101001<br> 
                            | ОГРН: 1062901063576<br>
                            | БИК: 041117601, к/с 30101810100000000601
                            p  Расчетный счет: 40702810004000103812 в отделении N8637<br> Сбербанка России, Архангельск
                            p Генеральный директор — Василенко Артём Викторович 


        include ./pug/footer.pug