<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="./styles/style.css")
    body
        include ./pug/headerWhite.pug
        article
            .catalog__content
                .catalog__head
                    .catalog__head__title Обувь
                .catalog__item
                    .catalog__card 
                        .catalog__card-img
                            img(src="./assets/img/shoes/img.jpg", alt="shoes card")
                        .catalog__card-title 
                            a(href="./productСard.html") Maison Margiela Fusion<br> Low Sneakers
                        .catalog__card-subtitle Кроссовки
                        .catalog__card-price 92 000 ₽
                    .catalog__card 
                        .catalog__card-img
                            img(src="./assets/img/shoes/img1.jpg", alt="shoes card")
                        .catalog__card-title 
                            a(href="#") Maison Margiela Fusion<br> Low Sneakers
                        .catalog__card-subtitle Кроссовки
                        .catalog__card-price 92 000 ₽
                    .catalog__card 
                        .catalog__card-img
                            img(src="./assets/img/shoes/img3.jpg", alt="shoes card")
                        .catalog__card-title 
                            a(href="#") Maison Margiela Fusion<br> Low Sneakers
                        .catalog__card-subtitle Кроссовки
                        .catalog__card-price 92 000 ₽
                    .catalog__card 
                        .catalog__card-img
                            img(src="./assets/img/shoes/img4.jpg", alt="shoes card")
                        .catalog__card-title 
                            a(href="#") Maison Margiela Fusion<br> Low Sneakers
                        .catalog__card-subtitle Кроссовки
                        .catalog__card-price 92 000 ₽
                    .catalog__card 
                        .catalog__card-img
                            img(src="./assets/img/shoes/img5.jpg", alt="shoes card")
                        .catalog__card-title 
                            a(href="#") Maison Margiela Fusion<br> Low Sneakers
                        .catalog__card-subtitle Кроссовки
                        .catalog__card-price 92 000 ₽
                    .catalog__card 
                        .catalog__card-img
                            img(src="./assets/img/shoes/img6.jpg", alt="shoes card")
                        .catalog__card-title 
                            a(href="#") Maison Margiela Fusion<br> Low Sneakers
                        .catalog__card-subtitle Кроссовки
                        .catalog__card-price 92 000 ₽
                    .catalog__card 
                        .catalog__card-img
                            img(src="./assets/img/shoes/img7.jpg", alt="shoes card")
                        .catalog__card-title 
                            a(href="#") Maison Margiela Fusion<br> Low Sneakers
                        .catalog__card-subtitle Кроссовки
                        .catalog__card-price 92 000 ₽
                    .catalog__card 
                        .catalog__card-img
                            img(src="./assets/img/shoes/img8.jpg", alt="shoes card")
                        .catalog__card-title 
                            a(href="#") Maison Margiela Fusion<br> Low Sneakers
                        .catalog__card-subtitle Кроссовки
                        .catalog__card-price 92 000 ₽
                    .catalog__card 
                        .catalog__card-img
                            img(src="./assets/img/shoes/img9.jpg", alt="shoes card")
                        .catalog__card-title 
                            a(href="#") Maison Margiela Fusion<br> Low Sneakers
                        .catalog__card-subtitle Кроссовки
                        .catalog__card-price 92 000 ₽
                    .catalog__card 
                        .catalog__card-img
                            img(src="./assets/img/shoes/img10.jpg", alt="shoes card")
                        .catalog__card-title 
                            a(href="#") Maison Margiela Fusion<br> Low Sneakers
                        .catalog__card-subtitle Кроссовки
                        .catalog__card-price 92 000 ₽
                    .catalog__card 
                        .catalog__card-img
                            img(src="./assets/img/shoes/img11.jpg", alt="shoes card")
                        .catalog__card-title 
                            a(href="#") Maison Margiela Fusion<br> Low Sneakers
                        .catalog__card-subtitle Кроссовки
                        .catalog__card-price 92 000 ₽
                    .catalog__card 
                        .catalog__card-img
                            img(src="./assets/img/shoes/img12.jpg", alt="shoes card")
                        .catalog__card-title 
                            a(href="#") Maison Margiela Fusion<br> Low Sneakers
                        .catalog__card-subtitle Кроссовки
                        .catalog__card-price 92 000 ₽
                    .catalog__card 
                        .catalog__card-img
                            img(src="./assets/img/shoes/img13.jpg", alt="shoes card")
                        .catalog__card-title 
                            a(href="#") Maison Margiela Fusion<br> Low Sneakers
                        .catalog__card-subtitle Кроссовки
                        .catalog__card-price 92 000 ₽
                    .catalog__card 
                        .catalog__card-img
                            img(src="./assets/img/shoes/img14.jpg", alt="shoes card")
                        .catalog__card-title 
                            a(href="#") Maison Margiela Fusion<br> Low Sneakers
                        .catalog__card-subtitle Кроссовки
                        .catalog__card-price 92 000 ₽
                    .catalog__card 
                        .catalog__card-img
                            img(src="./assets/img/shoes/img16.jpg", alt="shoes card")
                        .catalog__card-title 
                            a(href="#") Maison Margiela Fusion<br> Low Sneakers
                        .catalog__card-subtitle Кроссовки
                        .catalog__card-price 92 000 ₽
                    .catalog__card 
                        .catalog__card-img
                            img(src="./assets/img/shoes/img17.jpg", alt="shoes card")
                        .catalog__card-title 
                            a(href="#") Maison Margiela Fusion<br> Low Sneakers
                        .catalog__card-subtitle Кроссовки
                        .catalog__card-price 92 000 ₽
                .page__nav
                    .page__nav-titlt Страницы
                    .page__nav-counter
                        a(href="#") <span> 1 </span>
                        a(href="#") 2 
                        a(href="#") 3 
                        a(href="#") 4 
                        a(href="#") 5 
                        a(href="#") 6 
                        a(href="#") 7 
                        a(href="#") 8 
                        a(href="#") 9 
                        a(href="#") 10 
                        a(href="#") 11 
                        a(href="#") 12 




        include ./pug/footer.pug