.productCard__slider__two.checkout
    .productCard__slider__two-title <h2>Вам может быть интересно
    button(type='button' class='productCard__next checkout-slisk__next' )
            include ../../assets/icon/arr-right.svg
    button(type='button' class='productCard__prev checkout-slisk__prev' )
            include ../../assets/icon/arr-right.svg
    .productCard__slider__two-slick
        .catalog__card.slider__two-slick
            .catalog__card-img.slider__two-slick-img
                img(src="./assets/img/shoes/img.jpg", alt="shoes card")
            .catalog__card-title.slider__two-slick-title.checkout-slisk-title
                a(href="./productСard.html") Maison Margiela Fusion<br> Low Sneakers
            .catalog__card-subtitle.slider__two-slick-subtitle Кроссовки
            .catalog__card-price.slider__two-slick-price.checkout-slisk-price 92 000 ₽
        .catalog__card.slider__two-slick
            .catalog__card-img.slider__two-slick-img
                img(src="./assets/img/shoes/img1.jpg", alt="shoes card")
            .catalog__card-title.slider__two-slick-title.checkout-slisk-title
                a(href="./productСard.html") Maison Margiela Fusion<br> Low Sneakers
            .catalog__card-subtitle.slider__two-slick-subtitle Кроссовки
            .catalog__card-price.slider__two-slick-price.checkout-slisk-price 92 000 ₽
        .catalog__card.slider__two-slick
            .catalog__card-img.slider__two-slick-img
                img(src="./assets/img/shoes/img3.jpg", alt="shoes card")
            .catalog__card-title.slider__two-slick-title.checkout-slisk-title
                a(href="./productСard.html") Maison Margiela Fusion<br> Low Sneakers
            .catalog__card-subtitle.slider__two-slick-subtitle Кроссовки
            .catalog__card-price.slider__two-slick-price.checkout-slisk-price 92 000 ₽
        .catalog__card.slider__two-slick
            .catalog__card-img.slider__two-slick-img
                img(src="./assets/img/shoes/img4.jpg", alt="shoes card")
            .catalog__card-title.slider__two-slick-title.checkout-slisk-title
                a(href="./productСard.html") Maison Margiela Fusion<br> Low Sneakers
            .catalog__card-subtitle.slider__two-slick-subtitle Кроссовки
            .catalog__card-price.slider__two-slick-price.checkout-slisk-price 92 000 ₽
        .catalog__card.slider__two-slick
            .catalog__card-img.slider__two-slick-img
                img(src="./assets/img/shoes/img5.jpg", alt="shoes card")
            .catalog__card-title.slider__two-slick-title.checkout-slisk-title
                a(href="./productСard.html") Maison Margiela Fusion<br> Low Sneakers
            .catalog__card-subtitle.slider__two-slick-subtitle Кроссовки
            .catalog__card-price.slider__two-slick-price.checkout-slisk-price 92 000 ₽