footer
    .footer__container
        .footer__content
            .footer__nav
                
                .footer__nav-group
                    .nav-group-title Фетч
                    .nav-group-items
                        a(href="#") Магазин
                        a(href="#") Блог 
                        a(href="#") Доставка и оплата  
                    .footer__nav__email shop@fetch.ru
                    .footer__nav__phone
                        .phone-title 8 800 912-11-42
                        .phone-subtitle Звонок бесплатный
                .footer__nav-group
                    .nav-group-title
                        a(href="#") Для мужчин
                    .nav-group-items
                        a(href="#") Верхняя одежда 
                        a(href="#") Рубашки и поло 
                        a(href="#") Трикотаж 
                        a(href="#") Брюки и джинсы  
                        a(href="#") Белье и носки    
                .footer__nav-group
                    .nav-group-title
                        a(href="#") Для женщин
                    .nav-group-items
                        a(href="#") Верхняя одежда 
                        a(href="#") Рубашки и поло 
                        a(href="#") Трикотаж 
                        a(href="#") Платья и юбки  
                        a(href="#") Белье и носки   
                .footer__nav-group
                    .nav-group-title
                        a(href="#") Обувь
                    .nav-group-items
                        a(href="#") Кроссовки и кеды 
                        a(href="#") Ботинки 
                .footer__nav-group
                    .nav-group-title
                        a(href="#") Аксессуары
                    .nav-group-items
                        a(href="#") Сумки и рюкзаки  
                        a(href="#") Часы 
                        a(href="#") Бижутерия 
                        a(href="#") Средства для ухода 
                .footer__nav-group
                    .nav-group-title
                        a(href="#") Скидки
                    .nav-group-items
                        a(href="#") Летняя распродажа 
                        a(href="#") Коллекция 2020 
            .footer__bottom
                .bottom__copyright © Фетч-команда, 2019
                .bottom__privacy
                    a(href="#") Правила обработки персональных данных
                .bottom__develop
                    a(href="#") Разработка и поддержка сайта